body, html {
display: flex;
flex-direction: column;
justify-content: space-between;

position: absolute;
width: 1240px;
height: 1754px;
font-family: 'Roboto Slab';
font-style: normal;
background: #ffffff;
}

ul {
  list-style-type: none;
}

.container {
  max-width: 1040px;
  margin: 0 auto;
}

.photo {
  position: absolute;
  top: 50px;
  right: 477.5px;
  width: 285px;
  height: 285px;
}

.name {
  position: absolute;
  top: 335px;
  right: 171px;
  width: 898px;
  height: 88px;

  font-weight: 500;
  font-size: 84px;
  line-height: 111px;
  text-align: center;
  text-transform: uppercase;
}

.horizontal1 {
  position: absolute;
  top: 520px;
  width: 1040px;
  height: 2.5px;
}

.phonenumber {
  position: absolute;
  top: 520px;
  width: 347px;
  height: 98px;

  font-weight: 300;
  font-size: 23px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #202020;
}

.vertical1 {
  position: absolute;
  top: 530px;
  left: 420px;
  width: 2.5px;
  height: 78px;
}

.email {
  position: absolute;
  top: 520px;
  right: 425px;
  width: 347px;
  height: 98px;

  font-weight: 300;
  font-size: 23px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: lowercase;
  color: #202020;
}

.vertical2 {
  position: absolute;
  top: 530px;
  right: 430px;
  width: 2.5px;
  height: 78px;
}

.location {
  position: absolute;
  top: 520px;
  right: -45px;
  width: 347px;
  height: 98px;

  font-weight: 300;
  font-size: 23px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.03em;
  color: #202020;
}

.horizontal2 {
  position: absolute;
  top: 620px;
  width: 1040px;
  height: 2.5px;
}